<div class= "container">
  <header class= "jumbotron">
    <h1>Q's&A's</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <!-- {{#link-to 'additional'}}Our representatives would love to help!{{/link-to}} -->
  </footer>
</div>
