<h2>Click on a question to get additional information and to submit an answer.</h2>


<ul>
  {{#each model as |question|}}
     {{question-tile question=question}}
  {{/each}}
</ul>





<hr>
<h3>Submit your question!</h3>
{{new-question saveQuestion2="saveQuestion3"}}
