<h2>Ask a question</h2>


<ul>
  {{#each model as |question|}}

     {{question-tile question=question  destroyQuestion="destroyQuestion" }}
  {{/each}}
</ul>






{{new-question saveQuestion2="saveQuestion3"}}


{{#link-to 'answers'}}Click here to answer.{{/link-to}}


<!-- {{#link-to 'additional'}}Click here for additional information.{{/link-to}} -->
