<h2>Ask a question</h2>


<ul>
  {{#each question as |question|}}
     {{question-tile question=question}}
  {{/each}}
</ul>






{{new-question saveQuestion2="saveQuestion3"}}


{{#link-to 'answers'}}Click here to answer.{{/link-to}}
